{% extends "base.html" %}
{% block content %}

<h1>Oxirgi Yangililar</h1>
<table>
    {% for new in latest_news %}
    
        <tr>
            <td><a href={% url "detailpage" new.id %}>{{new.title}}</a></td>
            <td><img src="{{new.image.url}}" alt="" style="width: 250px; height: 150px"></td>
        </tr>
    
    {% endfor %}
</table>

<h1>Dolzarb Yangililar</h1>
<table>
    {% for new in top_news %}
        <tr>
            <td><a href={% url "detailpage" new.id %}>{{new.title}}</a></td>
            <td><img src="{{new.image.url}}" alt="" style="width: 250px; height: 150px"></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}